.button {
    font-size: .8rem;
    text-decoration: none;
    padding: 6px 15px;
    font-weight: 700;
    background: none;
    border: 3px solid  #453636;
    color: #453636;
    cursor: pointer;
    border-radius: 5px;
}

.secondary {
    @extend .button;
    background: #453636;
    color: #DADADA;
    box-shadow: 18px 19px 41px -21px rgba(0,0,0,0.75);
}
