.wrapper {
    display: grid;
    grid-template-columns: 350px  1fr 60px 80px;
    align-items: center;
    padding: 10px 60px;
    max-height: 110px;

}

.logoImg {
    height: 130px;
    width: 300px;
}

.socialImg {
    height: 35px;
    width: 35px;
}