

.navItem, .lastLink, .about {
    list-style: none;
    display: inline-block;
    padding-right: 50px;
    &Link {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        &Active {
            font-weight: 900;
        }
    };
}

.lastLink {
    border-right: 2px solid #918BEE;

}

.about {
    padding: 0 0 0 50px;
    color: #453636;
}


@media (max-width: 1050px) {
    .wrapper {
        display: none;
    }
}