@keyframes appear {
    0% {
        opacity: 0.5;
        right: 0;
    }
    100% {
        opacity: 1;
        right: 50px;
    }
}


.wrapper {
    margin: 1px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-height: 100vh;
}

.wrapper > img {
    position: relative;
    justify-self: end;
    height: 30vw;
}

.specialImg {
    background: transparent;
    height: 43vw !important;
    position: absolute !important;
    bottom: 0;
    right: 0;
}

.animated {
    @extend .wrapper;

    right: 50px;
    animation: appear 0.9s ease;
}

@media (max-width: 1200px) {
    .wrapper  {
        grid-template-columns: none;
        > img {
            display: none;
        }
    }
}